.ignite-feed-timeline {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .ignite-feed-timeline {
    grid-template-columns: 1fr;
  }
}

.ignite-feed-timeline-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
