:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --purple-600: #6d28d9;
  --purple-700: #5b21b6;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 0.2rem var(--purple-600);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is to make sure that padding and margin don't increase the width of the element */
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased; /* This is to make the font look better in the browser */
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
